.full{
  height: 650px;
  background-color: green;
}
.space{
  height: 640px;
  background-color: #fff;
}
.logo-zuiplo-lg{
  background-color: #fff;
  height: 100px;
  margin-top: 55px;
  overflow: visible;
}
.image-gif{
  position: relative;
  max-width: 100%;
  box-sizing: border-box;
  height: 480px;
  margin-top: 100px;
  border-radius: 100%;
  border: 4px solid rgb(238, 238, 238);
}
.text-content{
  margin-top: 50px;
  text-align: left;
  font-family: Raleway, 'Sans Serif';

  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  line-height: 24px;
  padding-top: 5px;
  color: #737373;
  margin-top: 70px;
}
.text-title{
  font-size: 19pt;
  font-family: Raleway,'Sans serif';
  color: #39b54a;
  padding-left: 35px;
}
.content-text-content{
  font-size: 14pt;
  padding-top:15px;
  font-family: Raleway, 'Sans Serif';
  color: #737373;
  padding-left: 35px;
  padding-bottom: 50px;
}
.free-button-reg{
  margin-top: 50px;
  width: 200px;
height: 50px;
color: white;
text-align: center;
margin-left: 35px;
font-size: 16pt;
}
.cuma-tes{
  height: 900px;

}
